<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	id="WebApp_ID" version="2.5">
	<display-name>NewNet</display-name>

	<context-param>
		<param-name>javax.servlet.jsp.jstl.fmt.localizationContext</param-name>
		<param-value>resources.localization</param-value>
	</context-param>

	<servlet>
		<servlet-name>Controller</servlet-name>
		<servlet-class>controller.Controller</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Controller</servlet-name>
		<url-pattern>/controller</url-pattern>
	</servlet-mapping>

	<filter>
		<filter-name>CharsetFilter</filter-name>
		<filter-class>controller.filter.CharacterFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>CharsetFilter</filter-name>
		<url-pattern>*.jsp</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>CharsetFilter</filter-name>
		<url-pattern>/controller</url-pattern>
	</filter-mapping>

	<filter>
		<filter-name>AccessFilter</filter-name>
		<filter-class>controller.filter.AccessFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>AccessFilter</filter-name>
		<url-pattern>/controller</url-pattern>
	</filter-mapping>

	<filter>
		<filter-name>PreviousRequestFilter</filter-name>
		<filter-class>controller.filter.PreviousRequestFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>PreviousRequestFilter</filter-name>
		<url-pattern>*.jsp</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>PreviousRequestFilter</filter-name>
		<url-pattern>/controller</url-pattern>
	</filter-mapping>

	<listener>
		<listener-class>controller.listener.ServletInitListener</listener-class>
	</listener>

	<error-page>
		<error-code>404</error-code>
		<location>/public_jsp/error404.jsp</location>
	</error-page>
	<error-page>
		<exception-type>java.lang.Throwable</exception-type>
		<location>/public_jsp/error.jsp</location>
	</error-page>

	<welcome-file-list>
		<welcome-file>/public_jsp/index.jsp</welcome-file>
	</welcome-file-list>
</web-app>